*{
    margin: 0%;
    padding: 0%;

}
html,body{
    height: 100%;
    width: 100%;
    font-family: sans-serif;
    /* background-image: url(img2.png); */
    background-image: linear-gradient(rgba(0,0,0,0.4),rgba(0,0,0,0.4)),url("form.png");
    background-position: center;
    background-size: cover;
}
.underline{
    width: 50px;
    height: 4px;
    background-color: rgb(28, 28, 97);
    margin:10px auto 4px auto ;
    border-radius: 5px;
}





/* .container{
    height: 100%;
    width: 100%;
    background-image: linear-gradient(rgba(0,0,0,0.4),rgba(0,0,0,0.4)),url("form.png");
    background-position: center;
    background-size: cover; */

 .box{
    height:80vh ;
    width: 75vh;
  margin-left: 70vh;
  position: absolute;
  top: 13vh;
    border-radius: 5vh;
    background-color: rgba(252, 238, 223, 0.847);
    box-shadow: 10px 10px 5px rgb(177, 174, 174); 
    z-index: 10;   
}
h1{
    text-align: center;
    padding-top: 5vh ;
    color: rgb(28, 28, 97);
}

.inputfeild{
    text-align: center;
    padding-top: 6vh;
    line-height: 7vh;
    font-size: 3.5vh;
    font-family: "Poppins", sans-serif;

    /* max-height: -100px ;
    transition: max-height 0.5s;
    overflow: hidden;  */

}

p{
    font-size: 3vh;
    text-align: center;
    padding:3.5vh;
}
p a{
    text-decoration: none;
    color: rgb(88, 88, 180);
} 


.inputfeild input{
    width: 50%;
  padding: 7px 13px;
    background:transparent rgb(112, 110, 110);
    border: 0;
    outline: 0;
    border-radius: 10PX;
}
.btn{
    
   width: 50%;
   justify-content: space-between;
   display: flex;
   margin-left: 28vh;
   


  
}
button{
    padding: 1.5vh  0vh;
    font-size: 3vh;
    border-radius: 20vh;
    /* width: 7vh; */
    border: none;
    color:white;
    background-color: rgb(28, 28, 97);
    flex-basis: 49%;
    cursor: pointer;
    transition: background 1s;
    
   
    
   
} 
button.dis{
    background-color:#ebe7e7;
    color: #3f3d3d;
}
